<section class="wrapper flex">

  <div class="admin_item_index">

  <h4>作品一覧</h4>

  <div class="items">
    <% @items.each do |item| %>
      <table>
        <tr>
          <td>
            <% item.images.each_with_index do |image, index| %>
              <%= index + 1 %>
              <%= link_to admin_item_path(item) do %>
                <% if image.blob.present? %>
                  <%= image_tag image, style: "width: #{(1..4).include?(index) ? '100px' : '250px'};" %>
                <% else %>
                  <%= image_tag "images/no_image_BLU.jpg", style: "width: 100px;", alt: "no_image" %>
                <% end %>
              <% end %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>
            <%= link_to admin_item_path(item) do %>
              <h5><%= item.name %></h5>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>
            <small><%= item.genre.name %></small>
          </td>
        </tr>

        <tr>
          <td>
            <%= item.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
          </td>
        </tr>

        <tr>
          <td>
            投稿者: <%#= item.user.name %>
          </td>
        </tr>

      </table>
    <% end %>
    <%= paginate @items %>

  </div>

</section>

<!--<h1>Admin::Items#index</h1>-->
<!--<p>Find me in app/views/admin/items/index.html.erb</p>-->
<!--作品一覧画面-->