<div class="container">
  <div class="row">

    <div class="col-md-12 admin_item_title">
      <p><h3>作品一覧</h5></p>
    </div>

    <% @items.each do |item| %>
      <div class="col-md-3 item_list_image">
        <%= item.id %><br>
        <% item.images.each_with_index do |image, index| %>
          <% if item.images.attached? %>
            <%= link_to admin_item_path(item) do %>
              <%= image_tag image, style: "width: #{(1..4).include?(index) ? '240px' : '240px'};", class: "item_list_back" %>
            <% end %>
            <% else %>
              <%= link_to item_path(item) do %>
                <%= image_tag "no_image_BLU.png", style: "width: 240px;", alt: "no_image", class: "item_list_back" %>
              <% end %>
            <% end %>
          <% end %>
          <%= link_to admin_item_path(item) do %>
            <h5><%= item.name %></h5>
          <% end %>
          <%= item.genre.name %>
          <%= item.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
          投稿者: <%= item.user.name %>
        </div>
      <% end %>
</div>

    <%= paginate @items %>

  </div>
</div>

<!--<h1>Admin::Items#index</h1>-->
<!--<p>Find me in app/views/admin/items/index.html.erb</p>-->
<!--作品一覧画面-->