<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3><mark>作品詳細画面</mark></h3><br>
    </div>
    <div class="col-md-7  admin_item_show">
      <h5><mark><%= label :画像, "画像" %></mark></h5>
        <% if @item.images.attached? %>
          <% @item.images.each_with_index do |image, index| %>
            <%= index + 1 %><br>
            <%= image_tag image, style: "width: #{(1..4).include?(index) ? '20%' : '100%'};" %><br>
          <% end %>
        <% else %>
          <%= image_tag "no_image.png", style: "width: 240px;", alt: "no_image" %><br>
        <% end %>
    </div>
    <div class="col-md-5 item_show">
      <div class="col-md-12 item_edit_form">
        <p><h5><mark><%= label :作品名, "作品名" %></mark></h5>
        <%= @item.name %></p><br>
        <p><h5><mark><%= label :ジャンル, "ジャンル" %></mark></h5>
        <%= @item.genre.name %></p><br>
        <p><h5><mark><%= label :作品説明, "作品説明" %></mark></h5>
        <%= @item.description %></p><br>

        <%= render 'public/items/language' %>
        <%= render 'public/items/vision' %>

        <p><h5><mark><%= label :登録日, "登録日" %></mark></h5>
        <%= @item.created_at.strftime("%Y/%m/%d %H:%M:%S") %><br>
        <p><h5><mark><%= label :登録者, "登録者" %></mark></h5>
        <%= @item.user.name %></p><br>
        <%= link_to "削除", admin_item_path, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger" %>
        <%= link_to "一覧に戻る", admin_items_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-md-12">
      <% if @item.item_comments.present? %>
        <p>●コメントした会員</p>
        <% @item.item_comments.each do |item_comment| %>
          <%= link_to admin_user_path(item_comment) do %>
            <li><%= item_comment.user.name %>
          <% end %>
          さんがコメントしています。</li>
        <% end %>
      <% else %>
        <li>コメントしている会員はいません。</li>
      <% end %>
    </div>
    <div class="col-md-12">
      <% if @favorited_users.present? %>
        <p>●いいねした会員</p>
        <% @favorited_users.each do |user| %>
          <%= link_to admin_user_path(user) do %>
            <li><%= user.name %>
          <% end %>
          さんがいいねしています。</li>
        <% end %>
      <% else %>
        <li>いいねしている会員はいません。</li>
      <% end %>
    </div>
  </div>
</div>

<!--<h1>Admin::Items#show</h1>-->
<!--<p>Find me in app/views/admin/items/show.html.erb</p>-->
<!--作品詳細画面-->