<section class="wrapper flex">

  <div class="admin_item_show">

    <table>
      <tr>
        <td>
          <% @item.images.each_with_index do |image, index| %>
            <%= index + 1 %>
            <% if image.blob.present? %>
              <%= image_tag image, style: "width: #{(1..4).include?(index) ? '300px' : '300px'};" %>
            <% else %>
              <%= image_tag "no_image_BLU.png", style: "width: 100px;", alt: "no_image" %>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <h5><%= @item.name %></h5>
        </td>
      </tr>
      <tr>
      <tr>
        <td>
          <%= @item.genre.name %>
        </td>
      </tr>
      <tr>
        <td>
          <%= @item.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
        </td>
      </tr>
      <tr>
        <td>
          <%= @item.description %>
        </td>
      </tr>
      <tr>
        <td>
          投稿者: <%= @item.user.name %>
        </td>
      </tr>
    </table>

    <%= link_to "一覧に戻る", admin_items_path, class: "btn btn-primary" %>

  </div>

</section>

<!--<h1>Admin::Items#show</h1>-->
<!--<p>Find me in app/views/admin/items/show.html.erb</p>-->
<!--作品詳細画面-->