<div class="container">
  <div class="row">
    <div class="col-md-7  img-hidden-m">
      <%= image_tag("knitting is healing1", alt: "knitting is healing1", width: "100%") %>
    </div>
    <div class="col-md-5 item_show">
      <h4>作品詳細画面</h4>
      <div class="col-md-12 item_edit_form">
        <% if @item.images.present? %>
          <% @item.images.each_with_index do |image, index| %>
            <%= index + 1 %><br>
            <%= image_tag image, style: "width: #{(1..4).include?(index) ? '100px' : '300px'};" %><br>
          <% end %>
        <% else %>
          <%= image_tag "no_image_BLU.png", style: "width: 300px;", alt: "no_image" %><br>
        <% end %>
        <b><%= label :作品名, "作品名" %></b><br>
        <%= @item.name %><br>
        <b><%= label :ジャンル, "ジャンル" %></b><br>
        <%= @item.genre.name %><br>
        <b><%= label :作品説明, "作品説明" %></b><br>
        <%= @item.description %><br>
        <b><%= label :投稿日, "投稿日" %></b><br>
        <%= @item.created_at.strftime("%Y/%m/%d %H:%M:%S") %><br>
        <p><b><%= label :投稿者, "投稿者" %></b><br>
        投稿者: <%= @item.user.name %><br></p>
        <%= link_to "一覧に戻る", admin_items_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-md-12">
      <% if @item.item_comments.present? %>
        <p>●コメントした会員</p>
        <% @item.item_comments.each do |item_comment| %>
          <%= link_to admin_user_path(item_comment) do %>
            <li><%= item_comment.user.name %>
          <% end %>
          さんがコメントしています。</li>
        <% end %>
      <% else %>
        <li>コメントしている会員はいません。</li>
      <% end %>
    </div>
    <div class="col-md-12">
      <% if @favorited_users.present? %>
        <p>●いいねした会員</p>
        <% @favorited_users.each do |user| %>
          <%= link_to admin_user_path(user) do %>
            <li><%= user.name %>
          <% end %>
          さんがいいねしています。</li>
        <% end %>
      <% else %>
        <li>いいねしている会員はいません。</li>
      <% end %>
    </div>
  </div>
</div>

<!--<h1>Admin::Items#show</h1>-->
<!--<p>Find me in app/views/admin/items/show.html.erb</p>-->
<!--作品詳細画面-->