<div class="container">
  <div class="row">

    <div class="col-md-7  img-hidden-m">
      <%= image_tag("knitting_is_healing_BLU", alt: "knitting is healing1", width: "100%") %>
    </div>

    <div class="col-md-5">
      <h4>管理者ログイン</h4>
      <div class="col-md-12 admin_login_form">
        <%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
          <%= f.label :email, "メールアドレス" %><br>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>
          <%= f.label :password, "パスワード" %><br>
          <p><%= f.password_field :password, autocomplete: "current-password" %></p>
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<!--<h2>Log in</h2>-->

<!--<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
<!--    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
<!--    <%#= f.password_field :password, autocomplete: "current-password" %>-->
<!--  </div>-->

<!--  <%# if devise_mapping.rememberable? %>-->
<!--    <div class="field">-->
<!--      <%#= f.check_box :remember_me %>-->
<!--      <%#= f.label :remember_me %>-->
<!--    </div>-->
<!--  <%# end %>-->

<!--  <div class="actions">-->
<!--    <%#= f.submit "Log in" %>-->
<!--  </div>-->
<!--<%# end %>-->

<!--<%#= render "admin/shared/links" %>-->
