<div class="container">
  <div class="row">
    <div class="col-md-12 search_title">
      <h4><mark>作品検索</mark></h4><br>
    </div>
    <div class="col-md-12 search_form">
      <p>作品名で検索ができます。ご希望のキーワードを入力して下さい。</p>
      <%= form_with url: search_path, method: :get, local: true do |f| %>
        <%= f.text_field :content, placeholder: "例）座布団" %>
        <%= f.submit '検索', class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-12">
      <p><h4><mark>検索結果</mark></h4></p>
    </div>
    <div class="col-md-12">
      <p><h5>検索結果は<mark><big><%= @hit_records_count %>件</big></mark>です。</h5>
      <h5>（<%= @hit_records_count %>件／全<%= @all_records_count %>件）</h5></p>
    </div>
    <% if user_signed_in? %>
      <%= render 'user_record' %>
    <% elsif admin_signed_in? %>
      <%= render 'admin_record' %>
    <% else %>
      <%= render 'record' %>
    <% end %>
    <% if @records.empty? %>
    <div class="col-md-12">
    <p><h5>検索条件を変更して再度お試しください。</h5></p>
    <% end %>
    </div>
  </div>
</div>