<div class="search">
  <h4>作品検索</h4>
  <%= form_with url: search_path, method: :get, local: true do |f| %>
    <%= f.text_field :content %>
    <%= f.submit '検索', class: "btn btn-primary" %>
  <% end %>

  <% @records.each do |record| %>
    <% if record.user.present? %>
      <div>作品ID: <%= record.id %></div>
      <div>作品名: <%= record.name %></div>
      <div>投稿者: <%= record.user.name %></div>
    <% else %>
        <div>作品ID: <%= record.id %></div>
        <div>作品名: <%= record.name %></div>
        <div>投稿者: 管理者</div>
    <% end %>
  <% end %>

  <% if @records.empty? %>
      見つかりませんでした。検索条件を変更して再度お試しください。
  <% end %>
</div>