<div class="slide-wrapper">
  <% (1..15).each do |index| %>
    <% index_str = index.to_s %>
    <%= image_tag("slide1.png", alt: "#{index + (index - 1) * 5 + 0}", width: "100%", class: "slide") %>
    <%= image_tag("slide2.png", alt: "#{index + (index - 1) * 5 + 1}", width: "100%", class: "slide") %>
    <%= image_tag("slide3.png", alt: "#{index + (index - 1) * 5 + 2}", width: "100%", class: "slide") %>
    <%= image_tag("slide4.png", alt: "#{index + (index - 1) * 5 + 3}", width: "100%", class: "slide") %>
    <%= image_tag("slide5.png", alt: "#{index + (index - 1) * 5 + 4}", width: "100%", class: "slide") %>
    <%= image_tag("slide6.png", alt: "#{index + (index - 1) * 5 + 5}", width: "100%", class: "slide") %>
  <% end %>
</div>
<!--ブラウザ縮小対策としてeachのこと。-->