<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "1", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "2", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "3", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "4", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "5", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "6", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "7", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "8", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "9", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "10", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "11", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "12", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "13", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "14", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "15", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "16", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "17", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "18", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "19", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "20", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "21", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "22", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "23", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "24", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "25", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "26", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "27", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "28", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "29", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "30", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "31", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "32", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "33", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "34", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "35", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "36", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "37", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "38", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "39", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "40", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "41", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "42", width: "100%", class: "slide") %>
</div>




<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "1", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "2", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "3", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "4", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "5", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "6", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "7", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "8", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "9", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "10", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "11", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "12", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "13", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "14", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "15", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "16", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "17", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "18", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "19", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "20", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "21", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "22", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "23", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "24", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "25", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "26", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "27", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "28", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "29", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "30", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "31", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "32", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "33", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "34", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "35", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "36", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "37", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "38", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "39", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "40", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "41", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "42", width: "100%", class: "slide") %>
</div>





<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "1", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "2", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "3", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "4", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "5", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "6", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "7", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "8", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "9", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "10", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "11", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "12", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "13", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "14", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "15", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "16", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "17", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "18", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "19", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "20", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "21", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "22", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "23", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "24", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "25", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "26", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "27", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "28", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "29", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "30", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "31", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "32", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "33", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "34", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "35", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "36", width: "100%", class: "slide") %>
</div>
<div class="slide-wrapper">
  <%= image_tag("slide1.png", alt: "37", width: "100%", class: "slide") %>
  <%= image_tag("slide2.png", alt: "38", width: "100%", class: "slide") %>
  <%= image_tag("slide3.png", alt: "39", width: "100%", class: "slide") %>
  <%= image_tag("slide4.png", alt: "40", width: "100%", class: "slide") %>
  <%= image_tag("slide5.png", alt: "41", width: "100%", class: "slide") %>
  <%= image_tag("slide6.png", alt: "42", width: "100%", class: "slide") %>
</div>