<section class="wrapper flex">

<div class="images">
  <div class=”slider”>
    <p><%= image_tag 'knitting is healing1.jpg', class: 'slider-item rounded', width: "700px" %></p>
    <p><%#= image_tag 'knitting is healing_BLU.jpg', class: 'slider-item rounded', width: "700px" %></p>
    <p><%#= image_tag 'knitting is healing_GRN.jpg', class: 'slider-item rounded', width: "700px" %></p>
    <p><%#= image_tag 'knitting is healing_GRY.jpg', class: 'slider-item rounded', width: "700px" %></p>
    <p><%#= image_tag 'knitting is healing_PIK.jpg', class: 'slider-item rounded', width: "700px" %></p>
    <p><%#= image_tag 'knitting is healing_YEL.jpg', class: 'slider-item rounded', width: "700px" %></p>
  </div>
</div>

  <div class="new_item_list">
    <table>

    <thead>
      <tr>
        <td>
          <h3>新着投稿作品<br><h5>（5作品）</h5></h3>
        </td>
      </tr>
    </thead>

    <tbody>
      <% @items.order(created_at: :desc).limit(5).each do |item| %>

        <tr>
          <td>
            <% if item.images.attached? %>
              <div class="items_image_top">
                <%= link_to item_path(item) do %>
                  <%= image_tag item.images.first, style: "width: 240px; height: 240px;" %>
                <% end %>
              </div>
            <% else %>
              <%= link_to item_path(item) do %>
                <%= image_tag "no_image_YEL.png", style: "width: 240px;", alt: "no_image" %>
              <% end %>
            <% end %>
          </td>
        </tr>

          <tr>
            <td>
              <%= item.name %>
            </td>
          </tr>

          <tr>
            <td>
              <%= item.genre.name %>
            </td>
          </tr>

          <tr>
            <td>
              <%= item.created_at.strftime("%Y/%m/%d") %>
            </td>
          </tr>

          <tr>
            <td>
              投稿者: <%= item.user.name %>
            </td>
          </tr>

        <% end %>
      </tbody>

    </table>
  </div>

  <div class="genre_list">
    <table>

      <thead>
        <tr>
          <td>
            <h3>ジャンル例（5種）</h3>
            <p>他のジャンルについては
            <%= link_to "こちら", new_user_registration_path, class: "underline" %>
            から会員登録後、<br>
            新規作品投稿ページにてプルダウンをご確認ください。</p>
          </td>
        </tr>
      </thead>

      <tbody>
        <% @genres.order(created_at: :desc).limit(5).each do |genre| %>
          <tr>
            <td>
              <i class="fa-solid fa-paw fa-4x"></i><br>
              <%= genre.name %>
            </td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>

  <div class="about">
    <table>
      <tr>
        <td>
          Message<br>
          当サイトにアクセス頂きありがとうございます。<br>
          当サイトは「ハンドメイド作品投稿サイト」です。<br>
          編み物だけに限りません！<br>
          手作りの作品が家に溜まっていませんか？<br>
          ここでは自分が作った作品の写真を投稿することができます。<br>
          投稿するには会員登録が必要です。<br>
          いいね機能やコメント機能があるのでみんなでいいねし合いましょう。<br>
          サイトに関するご意見・ご感想は<%= link_to "こちら", information_path, class: "underline" %>のお問い合わせよりご連絡ください。<br>
        </td>
      </tr>
    </table>
  </div>

  <div class="link">

    <% if user_signed_in? %>
      <%= link_to items_path do %>
        <i class="fas fa-mitten"></i>
        作品一覧
      <% end %>
      <%= link_to new_item_path do %>
        <i class="fa-regular fa-images"></i>
        新規作品登録
      <% end %>
      <%= link_to user_path(current_user) do %>
        <i class="fa-solid fa-user"></i>
        マイページ
      <% end %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa-solid fa-right-from-bracket"></i>
        ログアウト
      <% end %>
        <%= link_to privacypolicy_path do %>
        <i class="fa-solid fa-paw"></i>
        プライバシーポリシー
      <% end %>
      <%= link_to information_path do %>
        <i class="fa-solid fa-paw"></i>
        お問い合わせ
      <% end %>
      <%= link_to about_path do %>
        <i class="fa-solid fa-paw"></i>
        当サイトについて
      <% end %>

    <% elsif admin_signed_in? %>
      <%= link_to admin_genres_path do %>
        <i class="fa-solid fa-star"></i>
        ジャンル一覧
      <% end %>
      <%= link_to admin_items_path do %>
        <i class="fas fa-mitten"></i>
        作品一覧
      <% end %>
      <%= link_to admin_admin_top_path do %>
        <i class="fa-solid fa-users"></i>
        会員一覧
      <% end %>
      <%= link_to destroy_admin_session_path, method: :delete do %>
        <i class="fa-solid fa-right-from-bracket"></i>
        ログアウト
      <% end %>

      <% else %>
      <%= link_to items_path do %>
        <i class="fas fa-mitten"></i>
         <!--style="color:black;"-->
        作品一覧
      <% end %>
      <%= link_to new_user_session_path do %>
        <i class="fa-solid fa-right-to-bracket"></i>
        ログイン
      <% end %>
      <%= link_to new_user_registration_path do %>
        <i class="fa-solid fa-address-card"></i>
        新規登録
      <% end %>
      <%= link_to privacypolicy_path do %>
        <i class="fa-solid fa-paw"></i>
        プライバシーポリシー
      <% end %>
      <%= link_to information_path do %>
        <i class="fa-solid fa-paw"></i>
        お問い合わせ
      <% end %>
      <%= link_to about_path do %>
        <i class="fa-solid fa-paw"></i>        <!--, class: 'nav-link text-light'-->
        当サイトについて
      <% end %>
    <% end %>

  </div>

</section>

<!--<h1>Public::Homes#top</h1>-->
<!--<p>Find me in app/views/public/homes/top.html.erb</p>-->
<!--トップ画面-->