<%= image_tag("slim.jpg", class: "img-fluid", alt: "top") %>
<div class="container">
  <div class="row">
    <div class="col-md-12 line">
    <%= render 'line' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <%= render 'welcome' %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-7 img-hidden-m" style="margin: 0 auto;">
      <%= render 'can' %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% if user_signed_in? %>
      <%= render 'banner_user' %>
    <% elsif admin_signed_in? %>
      <%= render 'banner_admin' %>
    <% else %>
      <%= render 'banner' %>
    <% end %>
  </div>
</div>
<!--LP熟考にてコメントアウト-->
<!--<div class="container container-m">-->
<!--  <div class="row">-->
<!--    <%#= render 'card_image' %>-->
<!--  </div>-->
<!--</div>-->
<!-------------------------------------------------------->
<div class="container new_item_list">
  <div class="row">
    <%= render 'new_item_list' %>
  </div>
</div>
<!--LP熟考にてコメントアウト-->
<!--<div class="container genre_list">-->
<!--  <div class="row">-->
<!--    <%#= render 'genre_list' %>-->
<!--  </div>-->
<!--</div>-->
<div class="container link_list">
  <div class="row">
    <% if user_signed_in? %>
      <%= render 'user_link' %>
    <% elsif admin_signed_in? %>
      <%= render 'admin_link' %>
    <% else %>
      <%= render 'link' %>
    <% end %>
  </div>
</div>
<div class="slide-container">
  <%= render 'slide' %>
</div>

<!--<h1>Public::Homes#top</h1>-->
<!--<p>Find me in app/views/public/homes/top.html.erb</p>-->
<!--トップ画面-->