<section class="wrapper flex">

  <div class="admin_genre_edit">

    <%= form_with model: @genre, url: admin_genre_path(@genre), method: :patch do |f| %>
      <table class="admin_genre_edit_form">
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= f.label :name, "ジャンル名" %></td>
            <td><%= f.text_area :name, rows: 3 %></td>
          </tr>
        </tbody>
      </table>

      <div class="flex align-center pl5">
        <%= link_to "戻る", admin_genres_path, class: "btn btn-primary" %>
        <%= f.submit "編集完了", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>

</section>

<!--<h1>Admin::Genres#edit</h1>-->
<!--<p>Find me in app/views/admin/genres/edit.html.erb</p>-->
<!--ジャンル編集画面-->