<div class="container">
  <div class="row">

    <div class="col-md-7  img-hidden-m">
      <%= image_tag("knitting_is_healing_BLU.jpg", alt: "knitting is healing1", width: "100%") %>
    </div>

    <div class="col-md-5">
      <h4><mark>新規会員登録</mark></h4><br>
      <div class="col-md-12 signin_form">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "public/shared/error_messages", resource: resource %><br>
          <p><h5><mark><%= f.label :メールアドレス %></mark></h5></p>
          <small>※実在するメールアドレスを登録してください。</small></br>
          <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
          <p><h5><mark><%= f.label :ニックネーム %></mark></h5></p>
          <p><%= f.text_field :name, autofocus: true, autocomplete: "name" %></p>
          <p><h5><mark><%= f.label :電話番号 %></mark></h5></p>
          <small>
            ※実在する電話番号を登録してください。<br>
            ※ハイフンは除いてください。<br>
          </small>
          <p><%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %></p>
          <p><h5><mark><%= f.label :パスワード %></mark></h5></p>
          <small>※6文字以上で登録してください。</small></br>
          <p><%= f.password_field :password, autocomplete: "new-password" %></p>
          <p><h5><mark><%= f.label :password_confirmation %></mark></h5></p>
          <p><%= f.password_field :password_confirmation, autocomplete: "new-password" %></p>
          <%= f.submit "新規登録", class: "btn btn-primary" %>
          <%= render "public/shared/links" %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<!--<h2>Sign up</h2>-->

<!--<%#= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>-->
<!--  <%#= render "public/shared/error_messages", resource: resource %>-->

<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
<!--    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %>-->
<!--    <%# if @minimum_password_length %>-->
<!--    <em>(<%#= @minimum_password_length %> characters minimum)</em>-->
<!--    <%# end %><br />-->
<!--    <%#= f.password_field :password, autocomplete: "new-password" %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password_confirmation %><br />-->
<!--    <%#= f.password_field :password_confirmation, autocomplete: "new-password" %>-->
<!--  </div>-->

<!--  <div class="actions">-->
<!--    <%#= f.submit "Sign up" %>-->
<!--  </div>-->
<!--<%# end %>-->

<!--<%#= render "public/shared/links" %>-->