<div class="container">
  <div class="row">

    <div class="col-md-7  img-hidden-m">
      <%= image_tag("knitting is healing1", alt: "knitting is healing1", width: "100%") %>
    </div>

    <div class="col-md-5 item_show">
      <h4>会員情報編集画面</h4>
      <div class="col-md-12 item_edit_form">
        <%= form_with model:@user, url: admin_user_path(@user), method: :patch do |f| %>
          <%= f.label :email, "メールアドレス" %><br>
          <%= f.text_field :email %><br>
          <%= f.label :name, "ニックネーム" %><br>
          <%= f.text_field :name %><br>
          <%= f.label :phone_number, "電話番号" %><br>
          <%= f.text_field :phone_number %><br>
          <%= f.label :password, "パスワード" %><br>
          <small>※パスワードの変更は不可。</small> <br>
          <p><%= @user.encrypted_password %></p><br>
          <!--<td><%#= f.text_field :password %></td>-->
          <%= link_to "詳細に戻る", admin_user_path(@user), class: "btn btn-primary" %>
          <%= f.submit "編集完了", class: "btn btn-primary" %>
        <% end %>

  </div>
</div>


<!--<h1>Admin::Users#edit</h1>-->
<!--<p>Find me in app/views/admin/users/edit.html.erb</p>-->
<!--顧客編集画面-->