<div class="container">
  <div class="row">
    <div class="col-md-7  img-hidden-m">
      <%= image_tag("knitting_is_healing_BLU.jpg", alt: "knitting is healing1", width: "100%") %>
    </div>
    <div class="col-md-5 item_show">
      <h4><mark>会員情報編集画面</mark></h4>
      <div>
        <% if @user.errors.any? %>
          <%= @user.errors.count %>件のエラーが発生しました
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col-md-12 item_edit_form">
        <%= form_with model:@user, url: admin_user_path(@user), method: :patch do |f| %>
          <p><h5><mark>会員ID</mark></h5>
          <%= @user.id %></p><br>
          <p><h5><mark><%= f.label :email, "メールアドレス" %></mark></h5>
          <%= f.text_field :email %></p><br>
          <p><h5><mark><%= f.label :name, "ニックネーム" %></mark></h5>
          <%= f.text_field :name %></p><br>
          <p><h5><mark><%= f.label :phone_number, "電話番号" %></mark></h5>
          <%= f.text_field :phone_number %></p><br>
          <p><h5><mark><%= f.label :状況 %></mark></h5>
          <%= I18n.t("user.#{@user.status}") %></p><br>
          <%= f.submit "編集完了", class: "btn btn-primary" %>
          <%= link_to "詳細に戻る", admin_user_path(@user), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!--<h1>Admin::Users#edit</h1>-->
<!--<p>Find me in app/views/admin/users/edit.html.erb</p>-->
<!--顧客編集画面-->