<div class="container">
  <div class="row">
    <div class="col-md-7  img-hidden-m" style="margin-bottom: 20px;">
      <%= image_tag("knitting_is_healing_BLU.jpg", alt: "knitting is healing1", width: "100%") %>
    </div>
    <div class="col-md-5 item_show">
      <h4><mark>会員詳細画面</mark></h4>
      <div class="col-md-12 item_edit_form">
        <%= form_with(model: @user, url: edit_admin_user_path(@user), method: :post) do |f| %>
          <p><h5><mark>会員ID</mark></h5>
          <%= @user.id %></p><br>
          <p><h5><mark><%= f.label :メールアドレス %></mark></h5>
          <%= @user.email %></p><br>
          <p><h5><mark><%= f.label :ニックネーム %></mark></h5>
          <%= @user.name %></p><br>
          <p><h5><mark><%= f.label :電話番号 %></mark></h5>
          <%= @user.phone_number %></p><br>
          <p><h5><mark><%= f.label :状況 %></mark></h5>
          <%= I18n.t("user.#{@user.status}") %></p><br>
          <%= link_to "編集", edit_admin_user_path(@user), class: "btn btn-primary" %>
          <%= link_to "一覧に戻る", admin_admin_top_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div>
    <% if @user_items.any? %>
        <%= @user.name %> さんが登録した作品<br>
        <ul>
          <% @user_items.each do |item| %>
            <li><%= link_to item.name, admin_item_path(item) %></li>
          <% end %>
        </ul>
      <% else %>
        <%= @user.name %> さんはまだ作品を登録していません。
    <% end %>
    </div>
  </div>
</div>

<!--<h1>Admin::Users#show</h1>-->
<!--<p>Find me in app/views/admin/users/show.html.erb</p>-->
<!--会員詳細画面-->