<section class="wrapper flex">

  <div class="session_new">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <table>

        <tr>
          <td>
            <%= f.label :メールアドレス %><br>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %><br>
            <small>※登録済みメールアドレスを入力してください。</small><br>
          </td>
        </tr>

        <tr>
          <td>
            <%= f.label :パスワード %><br>
            <%= f.password_field :password, autocomplete: "current-password" %><br>
            <small>※登録済みパスワード、6文字を入力してください。</small><br>
          </td>
        </tr>

        <tr>
          <td>
            <%= f.submit "ログイン", class: "btn btn-primary" %>
          </td>
        </tr>

        <tr>
          <td>
            <%= render "public/shared/links" %>
          </td>
        </tr>

      </table>

    <% end %>

  </div>

</section>

<!--<h2>Log in</h2>-->

<!--<%#= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>-->
<!--  <div class="field">-->
<!--    <%#= f.label :email %><br />-->
<!--    <%#= f.email_field :email, autofocus: true, autocomplete: "email" %>-->
<!--  </div>-->

<!--  <div class="field">-->
<!--    <%#= f.label :password %><br />-->
<!--    <%#= f.password_field :password, autocomplete: "current-password" %>-->
<!--  </div>-->

<!--  <%# if devise_mapping.rememberable? %>-->
<!--    <div class="field">-->
<!--      <%#= f.check_box :remember_me %>-->
<!--      <%#= f.label :remember_me %>-->
<!--    </div>-->
<!--  <%# end %>-->

<!--  <div class="actions">-->
<!--    <%#= f.submit "Log in" %>-->
<!--  </div>-->
<!--<%# end %>-->

<!--<%#= render "public/shared/links" %>-->
