<section class="wrapper flex">
  <div class="user_show">

    <h4>マイページ</h4>
    <small>
      ※誠に恐れ入りますが編集画面のご用意がございません。<br>
      修正・削除の際は<a href="/information">お問い合わせ</a>より、<br>
      管理者宛にご連絡いただきますようお願いします。<br>
    </small>

    <%= form_for @user do |f| %>
      <%= f.label :メールアドレス %>
      <%= @user.email %><br>
      <%= f.label :ニックネーム %>
      <%= @user.name %><br>
      <%= f.label :電話番号 %>
      <%= @user.phone_number %><br>
      <%= f.label :パスワード %>
      <%= @user.password %><br>
    <% end %>

  </div>
</section>
<!--<h1>Public::Users#show</h1>-->
<!--<p>Find me in app/views/public/users/show.html.erb</p>-->
<!--顧客のマイページ画面-->