<div class="container">
  <div class="row">
    <div class="col-md-7  img-hidden-m">
      <%= image_tag("knitting_is_healing_BLU.jpg", alt: "knitting is healing1", width: "100%") %>
    </div>
    <div class="col-md-5 item_show">
      <p><h4><mark>マイページ</mark></h4></p><br>
      <div class="col-md-12 item_edit_form">
        <%= form_for @user do |f| %>
          <p><h5><%= f.label :メールアドレス %></h5>
          <%= @user.email %></p><br>
          <p><h5><%= f.label :ニックネーム %></h5>
          <%= @user.name %></p><br>
          <p><h5><%= f.label :電話番号 %></h5>
          <%= @user.phone_number %></p><br>
        <% end %>
        <%= link_to "トップ", public_root_path, class: "btn btn-primary" %>
        <%= link_to "作品一覧", items_path, class: "btn btn-primary" %>
        <%= link_to "作品登録", new_item_path, class: "btn btn-primary" %><br>
        <small>
          ※誠に恐れ入りますが編集画面のご用意がございません。<br>
          　会員情報の修正・削除の際は<a href="/contacts/new">お問い合わせ</a>より、<br>
          　管理者宛にご連絡いただきますようお願いします。<br>
        </small><br>
      </div>
    </div>
    <div class="col-md-12">
      <h5><mark>最近投稿した作品（5作品）</mark></h5><br>
      <ul>
        <% @user_items.last(5).each do |item| %>
          <li>
            <%= link_to item.name, item_path(item) %><br>
            （<%= item.created_at.strftime("%Y/%m/%d/%H:%M") %>に投稿した作品）
          </li><br>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4">
      <h5><mark>最近いいねした作品（5作品）</mark></h5><br>
      <% if @favorited_items.present? %>
        <ul>
          <% @favorited_items.last(5).each do |item| %>
            <li>
              <%= link_to item.name, item %><br>
              <%= item.user.name %><br>
              （<%= item.created_at.strftime("%Y/%m/%d/%H:%M") %>に投稿された作品）
            </li><br>
          <% end %>
        </ul>
      <% else %>
        <p>まだいいねした作品がありません。</p>
      <% end %>
    </div>
    <div class="col-md-12">
      <h5><mark>最近コメントした作品（5作品）</mark></h5><br>
      <% if @item_commented_items.present? %>
        <ul>
          <% @item_commented_items.last(5).each do |item| %>
            <li>
              <%= link_to item.name, item %><br>
              <%= item.user.name %><br>
              （<%= item.created_at.strftime("%Y/%m/%d/%H:%M") %>に投稿された作品）
            </li><br>
          <% end %>
        </ul>
      <% else %>
        <p>まだコメントした作品がありません。</p>
      <% end %>
    </div>
  </div>
</div>

<!--<h1>Public::Users#show</h1>-->
<!--<p>Find me in app/views/public/users/show.html.erb</p>-->
<!--k会員のマイページ画面-->