<div class="container">
  <div class="row">

    <div class="col-md-7  img-hidden-m">
      <%= image_tag("knitting is healing1", alt: "knitting is healing1", width: "100%") %>
    </div>

    <div class="col-md-5 item_show">
      <h4>マイページ</h4>
      <div class="col-md-12 item_edit_form">

        <%= form_for @user do |f| %>
          <b><%= f.label :メールアドレス %></b><br>
          <p><%= @user.email %></p>
          <b><%= f.label :ニックネーム %></b><br>
          <p><%= @user.name %></p>
          <b><%= f.label :電話番号 %></b><br>
          <p><%= @user.phone_number %></p>
          <b><%= f.label :パスワード %></b><small>※暗号化にて</small><br>
          <p><%= @user.encrypted_password %></p>
        <% end %>
        <small>
          ※誠に恐れ入りますが編集画面のご用意がございません。<br>
          　修正・削除の際は<a href="/information">お問い合わせ</a>より、<br>
          　管理者宛にご連絡いただきますようお願いします。<br>
        </small><br>
        <%= link_to "トップ", public_root_path, class: "btn btn-primary" %>
        <%= link_to "作品一覧", items_path, class: "btn btn-primary" %>
        <%= link_to "作品登録", new_item_path, class: "btn btn-primary" %>
      </div>
    </div>
    <div class="col-md-12 item_edit_form">
    ---------------------------------<br>
    ↓あなたがいいねした作品<br>
    ---------------------------------<br>
    <% if @favorited_items.present? %>
      <ul>
        <% @favorited_items.each do |item| %>
          <li>
            <%= link_to item.name, item %><br>
            <%= item.description %><br>
            <%= item.created_at.strftime("%Y/%m/%d/%H:%M") %>
          </li><br>
        <% end %>
      </ul>
    <% else %>
      <p>まだいいねした作品がありません。</p>
    <% end %>
    </div>
    <div class="col-md-12 item_edit_form">
    ---------------------------------<br>
    ↓あなたがコメントした作品<br>
    ---------------------------------<br>
    <% if @item_commented_items.present? %>
      <ul>
        <% @item_commented_items.each do |item| %>
          <li>
            <%= link_to item.name, item %><br>
            <%= item.description %><br>
            <%= item.created_at.strftime("%Y/%m/%d/%H:%M") %>
          </li><br>
        <% end %>
      </ul>
    <% else %>
      <p>まだコメントした作品がありません。</p>
    <% end %>
    </div>

  </div>
</div>

<!--<h1>Public::Users#show</h1>-->
<!--<p>Find me in app/views/public/users/show.html.erb</p>-->
<!--k会員のマイページ画面-->