<div class="container">
  <div class="row">

    <div class="col-md-7  img-hidden-m">
      <%= image_tag("knitting_is_healing_BLU", alt: "knitting is healing1", width: "100%") %>
    </div>

    <div class="col-md-5 item_show">
      <h4>投稿作品編集画面</h4>
      <div>
        <% if @item.errors.any? %>
          <%= @item.errors.count %>件のエラーが発生しました
          <ul>
            <% @item.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col-md-12 item_edit_form">
        <%= form_with model:@item, url: item_path, local: true do |f| %>
            <%= f.label :作品画像 %><br>
            <%= f.file_field :image, accept: 'image/*' %><br>
            <%= f.label :作品名 %><br>
            <%= f.text_field :name, placeholder:"作品名" %><br>
            <%= f.label :ジャンル %><br>
            <%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--選択してください--" %><br>
            <%= f.label :作品説明 %><br>
            <%= f.text_area :description, rows: 5, placeholder:"ここに説明文を記述します", style: "width: 80%;" %><br>
            <%= f.submit "保存", class: "btn btn-primary" %>
            <%= link_to "詳細に戻る", item_path(@item), class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<!--<h1>Public::Items#edit</h1>-->
<!--<p>Find me in app/views/public/items/edit.html.erb</p>-->
<!--作品編集画面-->