<div class="container">
  <div class="row">

    <div class="col-md-12 new_item_title">
      <p><h3>作品一覧</h5></p>
    </div>

    <% @items.each do |item| %>
      <div class="col-md-3 item_list_image">
        <% if item.images.attached? %>
          <%= link_to item_path(item) do %>
            <%= image_tag item.images.first, style: "width: 240px; height: 240px;", class: "item_list_back" %><br>
          <% end %>
          <% if item.images.count > 1 %>
            <span class="image-count-mark">There's more image...</span><br>
          <% end %>
          <% else %>
          <%= link_to item_path(item) do %>
            <%= image_tag "no_image_YEL.png", style: "width: 240px;", alt: "no_image", class: "item_list_back" %><br>
          <% end %>
        <% end %>
      <%= link_to item_path(item) do %>
          <%= item.name %><br>
          <% end %>
          <%= item.genre.name %><br>
          <%= item.created_at.strftime("%Y/%m/%d") %><br>
          投稿者: <%= item.user.name %><br>
        </div>
      <% end %>
  </div>
        <%= paginate @items %>
</div>

<!--<h1>Public::Items#index</h1>-->
<!--<p>Find me in app/views/public/items/index.html.erb</p>-->
<!--作品一覧画面-->