<section class="wrapper flex">

  <div class="item_index">

  <h4>作品一覧</h4>

  <div class="items">

    <table>
      <% @items.each do |item| %>

        <tr>
          <td>

<% if item.images.attached? %>
  <div class="items_image">
    <%= link_to item_path(item) do %>
      <%= image_tag item.images.first, style: "width: 240px; height: 240px;" %>
    <% end %>
  </div>
<% else %>
  <%= link_to item_path(item) do %>
    <%= image_tag "no_image_YEL.png", style: "width: 240px;", alt: "no_image" %>
  <% end %>
<% end %>

          </td>
        </tr>


        <tr>
          <td>
            <%= link_to item_path(item) do %>
              <%= item.name %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>
            <%= item.genre.name %></p>
          </td>
        </tr>

        <tr>
          <td>
            <%= item.created_at.strftime("%Y/%m/%d") %>
          </td>
        </tr>

        <tr>
          <td>
            投稿者: <%#= item.user.name %>
          </td>
        </tr>

      <% end %>
    </table>
    <%= paginate @items %>

  </div>

</section>

<!--<h1>Public::Items#index</h1>-->
<!--<p>Find me in app/views/public/items/index.html.erb</p>-->
<!--作品一覧画面-->