<section class="wrapper flex">

  <div class="item_show">

    <div class="items">
      <%#= image_tag @item.get_image, fallback: "/amulab/app/assets/images/no_image_BLU.png" %>
    </div>

    <div class="item_body">
      <table>
        <tr>
          <td>
            <% @item.images.each_with_index do |image, index| %>
              <%= index + 1 %>
              <% if image.blob.present? %>
                <%= image_tag image, style: "width: #{(1..4).include?(index) ? '300px' : '300px'};" %>
              <% else %>
                <%= image_tag "no_image_BLU.png", style: "width: 100px;", alt: "no_image" %>
              <% end %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td>
            <h5><%= @item.name %></h5>
          </td>
        </tr>
          <tr>
            <td>
              <%= @item.genre.name %>
            </td>
          </tr>
          <tr>
          <td>
            <%= @item.description %>
          </td>
        </tr>
        <tr>
          <td>
            <%= @item.created_at.strftime("%Y/%m/%d") %>
          </td>
        </tr>
        <tr>
          <td>
            投稿者: <%#= item.user.name %>
          </td>
        </tr>
      </table>

    </div>

    <div class="signed_if_edit">
      <% if user_signed_in? %>
        <%= link_to "編集", edit_item_path(@item), class: "btn btn-primary" %>
      <% else %>
        <p></p>
      <% end %>
    </div>

<%# if @item_favorite.favorite?(current_user) %>
    <!--# 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
    <%#= link_to item_favorite_path(@item.id), method: :delete do %>
<!--        <span style="color:red;"><i class="fa-solid fa-thumbs-up"></i>︎</span>-->
    <%# end %>
<%# else %>
<!--    # 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
    <%#= link_to item_favorites_path(@item.id), method: :post do %>
<!--        <span><i class="fa-solid fa-thumbs-up"></i>︎</span>-->
    <%# end %>
<%# end %>


    <div class="signed_if">
<table><tr><td>
      <% if user_signed_in? %>
        <p class="bold">【実装中】いいね・コメント機能を利用できます。</p>
      <% else %>
        <p>いいね・コメント機能をご利用いただくには、<br>
        <%= link_to "こちら", new_user_registration_path, class: "underline" %>から新規登録を行なってください。</p>
        <p>会員登録済みの方は、<br>
        <%= link_to "こちら", new_user_session_path, class: "underline" %>からログインできます。</p>
      <% end %>
      </td></tr></table>
    </div>

  </div>

  <%= link_to "一覧に戻る", items_path, class: "btn btn-primary" %>

</section>

<!--<h1>Public::Items#show</h1>-->
<!--<p>Find me in app/views/public/items/show.html.erb</p>-->
<!--作品詳細画面-->