<section class="wrapper flex">

  <div class="item_show">

    <div class="items">
      <%#= image_tag @item.get_image, fallback: "/amulab/app/assets/images/no_image_BLU.jpg" %>
    </div>

    <div class="item_body">
      <h5><%= @item.name %></h5>

      <% @item.images.each_with_index do |image, index| %>
        <%= index + 1 %>
          <% if image.blob.present? %>
            <%= image_tag image, style: "width: #{(1..4).include?(index) ? '40px' : '100px'};" %>
          <% else %>
            <%= image_tag "images/no_image_BLU.jpg", style: "width: 100px;", alt: "no_image" %>
          <% end %>
      <% end %>

      <p><%= @item.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
      <p><%= @item.description %></p>
    </div>

    <div class="signed_if_edit">
      <% if user_signed_in? %>
        <%= link_to "編集", edit_item_path(@item), class: "btn btn-primary" %>
      <% else %>
        <p></p>
      <% end %>
    </div>

    <div class="signed_if">
      <% if user_signed_in? %>
        <p class="bold">【実装中】いいね・コメント機能を利用できます。</p>
      <% else %>
        <p>いいね・コメント機能をご利用いただくには、<br><%= link_to "こちら", new_user_registration_path, class: "underline" %>から新規登録を行なってください。</p>
        <p>会員登録済みの方は、<br><%= link_to "こちら", new_user_session_path, class: "underline" %>からログインできます。</p>
      <% end %>
    </div>

  </div>

  <%= link_to "戻る", items_path, class: "btn btn-primary" %>

</section>

<!--<h1>Public::Items#show</h1>-->
<!--<p>Find me in app/views/public/items/show.html.erb</p>-->
<!--作品詳細画面-->