<div class="container">
  <div class="row">

    <div class="col-md-7  img-hidden-m">
      <%= image_tag("knitting is healing1", alt: "knitting is healing1", width: "100%") %>
    </div>

    <div class="col-md-5 item_show">
      <h4>作品詳細画面</h4>
      <div class="col-md-12 item_edit_form">
          <b><%= label :画像, "画像" %></b><br>
        <% @item.images.each_with_index do |image, index| %>
          <%= index + 1 %><br>
          <% if image.blob.present? %>
            <%= image_tag image, style: "width: #{(1..4).include?(index) ? '300px' : '300px'};" %><br>
          <% else %>
            <%= image_tag "no_image_YEL.png", style: "width: 240px;", alt: "no_image" %><br>
          <% end %>
        <% end %>

        <b><%= label :作品名, "作品名" %></b><br>
        <%= @item.name %><br>
        <b><%= label :ジャンル, "ジャンル" %></b><br>
        <%= @item.genre.name %><br>
        <b><%= label :作品説明, "作品説明" %></b><br>
        <%= @item.description %><br>
        <b><%= label :投稿日, "投稿日" %></b><br>
        <%= @item.created_at.strftime("%Y/%m/%d") %><br>
        <p><b><%= label :投稿者, "投稿者" %></b><br>
        投稿者: <%= @item.user.name %><br></p>



<table>
  <tbody>
      <% @item.item_comments.each do |item_comment| %>
      <tr>

        <td>
          <%= link_to user_path(item_comment.user) do %>
            <%#= image_tag item_comment.user.get_profile_image, size: "100x100" %><br>
            <%= item_comment.user.name %>
          <% end %>
        </td>
        <td><%= item_comment.comment %></td>
        <td>
          <% if item_comment.user == current_user %>
            <%= link_to "Destroy", item_item_comment_path(@item, item_comment), method: :delete, class: "btn btn-danger pull-right" %>
          <% end %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>





<%= form_with(model:[@item, @item_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", class: "w-100" %>
  <%= f.submit "送信" %>
<% end %>



<%# if @item_favorite.favorite?(current_user) %>
    <!--# 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ-->
    <%#= link_to item_favorite_path(@item.id), method: :delete do %>
<!--        <span style="color:red;"><i class="fa-solid fa-thumbs-up"></i>︎</span>-->
    <%# end %>
<%# else %>
<!--    # 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
    <%#= link_to item_favorites_path(@item.id), method: :post do %>
<!--        <span><i class="fa-solid fa-thumbs-up"></i>︎</span>-->
    <%# end %>
<%# end %>

      <!--<%# if user_signed_in? %>-->
      <!--  <p><%#= link_to "編集", edit_item_path(@item), class: "btn btn-primary" %></p>-->
      <!--  <p><%#= link_to "一覧に戻る", items_path, class: "btn btn-primary" %><br>-->
      <!--  【実装中】いいね・コメント機能を利用できます。</p>-->
      <!--<%# else %>-->
      <!--  <p>いいね・コメント機能をご利用いただくには、<br>-->
      <!--  <%#= link_to "こちら", new_user_registration_path, class: "underline" %>から新規登録を行なってください。</p>-->
      <!--  <p>会員登録済みの方は、<br>-->
      <!--  <%#= link_to "こちら", new_user_session_path, class: "underline" %>からログインできます。</p>-->
      <!--  <p><%#= link_to "一覧に戻る", items_path, class: "btn btn-primary" %></p>-->
      <!--<%# end %>-->




<% if user_signed_in? || admin_signed_in? %>
  <!-- ユーザーまたは管理者がログインしている場合の表示 -->
  <p><%= link_to "編集", edit_item_path(@item), class: "btn btn-primary" %></p>
  <p><%= link_to "一覧に戻る", items_path, class: "btn btn-primary" %><br>
  &#8203;``【oaicite:0】``&#8203;いいね・コメント機能を利用できます。</p>
<% else %>
  <!-- ユーザーまたは管理者がログインしていない場合の表示 -->
  <p>いいね・コメント機能をご利用いただくには、<br>
  <%= link_to "こちら", new_user_registration_path, class: "underline" %>から新規登録を行なってください。</p>
  <p>会員登録済みの方は、<br>
  <%= link_to "こちら", new_user_session_path, class: "underline" %>からログインできます。</p>
  <p><%= link_to "一覧に戻る", items_path, class: "btn btn-primary" %></p>
<% end %>






    </div>

  </div>
</div>

<!--<h1>Public::Items#show</h1>-->
<!--<p>Find me in app/views/public/items/show.html.erb</p>-->
<!--作品詳細画面-->