<div class="container">
  <div class="row">

    <div class="col-md-7  img-hidden-m">
      <%= image_tag("knitting is healing1", alt: "knitting is healing1", width: "100%") %>
    </div>

    <div class="col-md-5 item_show">
      <h4>作品詳細画面</h4>
      <div class="col-md-12 item_edit_form">
        <b><%= label :画像, "画像" %></b><br>
        <% if @item.images.attached? %>
          <% @item.images.each_with_index do |image, index| %>
            <%= index + 1 %><br>
            <%= image_tag image, style: "width: #{(1..4).include?(index) ? '300px' : '300px'};" %><br>
          <% end %>
        <% else %>
          <%= image_tag "no_image_YEL.png", style: "width: 240px;", alt: "no_image" %><br>
        <% end %>

        <b><%= label :作品名, "作品名" %></b><br>
        <%= @item.name %><br>
        <b><%= label :ジャンル, "ジャンル" %></b><br>
        <%= @item.genre.name %><br>
        <b><%= label :作品説明, "作品説明" %></b><br>
        <%= @item.description %><br>
        <b><%= label :投稿日, "投稿日" %></b><br>
        <%= @item.created_at.strftime("%Y/%m/%d") %><br>
        <p><b><%= label :投稿者, "投稿者" %></b><br>
        <%= @item.user.name %><br></p>

        <!--<%# if user_signed_in? %>-->
        <% if user_signed_in? || admin_signed_in? %>
          <!-- ユーザーまたは管理者がログインしている場合の表示 -->
          <p><%= link_to "編集", edit_item_path(@item), class: "btn btn-primary" %>
          <%= link_to "一覧に戻る", items_path, class: "btn btn-primary" %><br></p>
          <p>---------------------------------<br><b>↓いいね・コメント機能を利用できます。<br></b>---------------------------------<br></p>
                  <!-- 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ -->
        <% if @item.favorited?(current_user) %>
          いいね：済<br>
          <%= link_to item_favorites_path(@item.id), method: :delete do %>
            <i class="fa-solid fa-thumbs-up fa-5x" style="color: #052D37;"></i><br>
          <% end %>
          <!--一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ-->
        <% else %>
          いいね：未<br>
          <%= link_to item_favorites_path(@item.id), method: :post do %>
            <i class="fa-regular fa-thumbs-up fa-beat fa-5x" style="color: #052D37;"></i><br>
          <% end %>
        <% end %>
        <p>---------------------------------<br><b>↓コメント入力欄<small>※200文字以内</small><br></b>---------------------------------<br></p>
        <%= form_with(model:[@item, @item_comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder: "例）とてもすてきな作品ですね。", class: "w-100" %>
          <p><%= f.submit "送信", class: "btn btn-primary" %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-12 comment_wrapper">
      <div class="col-md-12">
        <p>---------------------------------<br><b>↓コメント一覧<br></b>---------------------------------<br></p>
      </div>
        <% @item.item_comments.each_with_index do |item_comment, index| %>
          <div class="col-md-3 comment_show">
            <div>
              <small><b>No.<%= 1 + index %></small></b><br>
              <b>コメント：</b><br>
              <%= item_comment.comment %><br>
            </div>
            <div class="write_user">
              <%#= link_to user_path(item_comment.user) do %>
                <%= item_comment.user.name %>より<br>
              <%# end %>
              （<%= item_comment.created_at.strftime("%Y/%m/%d/%H:%M") %>）<br>
              <% if item_comment.user == current_user %>
                <%= link_to "削除", item_item_comment_path(@item, item_comment), method: :delete, class: "btn btn-danger comment_delete_button" %>
              <% end %>
            </div>
          </div>
        <% end %>

      <% else %>
        <!-- ユーザーまたは管理者がログインしていない場合の表示 -->
        <p><b>いいね・コメント機能をご利用いただくには、<br>
        <%= link_to "こちら", new_user_registration_path, class: "underline" %>から新規登録を行なってください。</p>
        <p>会員登録済みの方は、<br>
        <%= link_to "こちら", new_user_session_path, class: "underline" %>からログインできます。</b></p>
        <p><%= link_to "一覧に戻る", items_path, class: "btn btn-primary" %></p>
      <% end %>
    </div>

  </div>
</div>

<!--<h1>Public::Items#show</h1>-->
<!--<p>Find me in app/views/public/items/show.html.erb</p>-->
<!--作品詳細画面-->