<div>
  <i class="fa-solid fa-thumbs-up"></i>ようこそ、<%= current_user.name %>さん
</div>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">

    <li class="nav-item active">
      <a class="nav-link" href="<%= items_path %>">
        <i class="fas fa-mitten"></i>  <!--<i class="fa-solid fa-mitten fa-bounce"></i>  -->
        作品一覧
        <!--<span class="sr-only">(current)</span>-->
      </a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="<%= new_item_path %>">
        <i class="fa-solid fa-image"></i>  <!--<i class="fa-solid fa-image fa-bounce"></i>-->
        新規作品登録
        <span class="sr-only">(current)</span>
      </a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="<%= user_path(current_user) %>">
        <i class="fa-solid fa-user"></i>  <!--<i class="fa-solid fa-user fa-bounce"></i>-->
        マイページ
        <!--<span class="sr-only">(current)</span>-->
      </a>
    </li>

    <li class="nav-item active">
      <a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete">
        <i class="fa-solid fa-right-from-bracket"></i>  <!--<i class="fa-solid fa-right-from-bracket fa-bounce"></i>-->
        ログアウト
      </a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        その他
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">

        <a class="dropdown-item" href="<%= genres_path %>">
          <i class="fa-solid fa-paw"></i>
          ジャンル一覧
        </a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="<%= privacypolicy_path %>">
          <i class="fa-solid fa-star"></i>
          プライバシーポリシー
        </a>

        <a class="dropdown-item" href="<%= new_contact_path %>">
          <i class="fas fa-mitten"></i>
          お問い合わせ
        </a>

        <a class="dropdown-item" href="<%= about_path %>">
          <i class="fa-solid fa-paw"></i>
          当サイトについて
        </a>

      </div>
    </li>

    <!--<li class="nav-item active">-->
      <!--<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">作品検索</a>-->
    <!--</li>-->

  </ul>

    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <div class="search_wrapper">
        <%= f.search_field :content, class: "form-control mr-1", placeholder: "例）座布団", aria_label: "Search" %>
        <%= f.submit "検索", class: "btn btn-primary" %>
</div>
    <% end %>

  </div>