<!DOCTYPE html>
<html>
  <head>
    <title>Amulab</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://kit.fontawesome.com/62ba821fbd.js" crossorigin="anonymous"></script>

  </head>

  <style>
  header{
    position: fixed;
    width: 100%; /* ヘッダーの幅を100%に設定 */
    background-color: #052D37;
    padding: 8px 150px;
    height: 130px;
    position: fixed; /* ヘッダーを固定位置に設定 */
    top: 0; /* 上に固定 */
  }
  .header-logo {
    display: flex;
    position: fixed;
    align-items: center; /* 垂直方向の中央揃え */
  }
  .logo {
    display: flex;
    max-width: 200px; /* 任意の適切な幅を設定 */
    flex: 1; /* ロゴが可変幅で残りのスペースを占める */
    text-align: left; /* ロゴを左寄せに */
  }
  .header-content {
    display: flex;
    text-align: right;
  }
  .header-content a {
    color: white;
    font-weight: bold;
    font-size: 30px; /* 任意のフォントサイズを指定 */
  }
  .flex{
    text-align: center;
  }
  .image_tag{
    text-align: left;
    padding: 50px 50px;
  }
  .image_tag_right{
    text-align: right;
    padding: 50px 50px;
  }
  main {
    padding: 10px 0;
    margin-top: 130px; /* メインコンテンツをヘッダーの下に配置するためのマージン設定 */
    margin-bottom: 80px; /* フッターの高さと同じマージンを設定 */
  }
  body {
    background-color: #B8C8CC;
    /*052D37 紺 E6CFDB ピンク B8C8CC ブルーグレー f0f8ff アリスブルー eee9e6 淡いベージュ E5C58F ベージュ*/
  }
  .new_item_list{
    display: flex;
  }
  .genre_list{
    display: flex;
  }
  .link {
    display: flex;
  }
  .link a {
    color: black;
  }
  .about {
    display: flex;
  }
  .privacypolicy {
    text-align: left;
  }
  .complition {
    text-align: left;
  }
  footer{
    width: 100%; /* 横幅を100%に設定 */
    height: 80px; /* フッターの高さを設定 */
    background-color: #052D37;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed; /* フッターを固定位置に設定 */
    bottom: 0; /* 下に固定 */
    z-index: 1000; /* 必要に応じて他の要素より手前に表示 */
  }
  </style>

  <body>

    <header class="<%= (admin_signed_in? ? "admin_header" : "" ) %>">

      <div class="header-logo">
      <%= link_to(image_tag('Amulab.png', alt: 'Amulab', width: 300), (admin_signed_in? ? admin_admin_top_path : public_root_path), class: 'logo') %>

        <div class="header-content">
          <% if user_signed_in? %>
              <%= render 'layouts/user_header' %>
            <% elsif admin_signed_in? %>
              <%= render 'layouts/admin_header' %>
            <% else %>
              <%= render 'layouts/header' %>
          <% end %>
        </div>

      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="footer-contack">
        Contact<br>
        E-mail amulabamulab@gmail.com
      </div>
      <div class="footer-text">
      Copyright © Amulab All Rights Reserved.
      </div>
    </footer>
  </body>

</html>